{% extends 'layout.html' %}
{% block heading %}All Athletes{% endblock %}
{% block content %}
<table style = "width: 100%">
  <tr>
    <th>
      <ul>
        {% for athlete in athletes %}
        <li><a href="{{url_for('athlete', name=athlete.athlete_name)}}">{{athlete.athlete_name}}</a></li>
        {% endfor %}
      </ul>
    </th>
    <th colspan="2">{
      <ul>
        {% for meet in meets %}
          <li> {athletecompetein.meet_name} </li>
        {% endfor %}
      </ul>
    </th>
  </tr>
</table>

<hr/>
{% endblock %}
