{% extends 'allathletes_template.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hypthetical Meet Creation</title>
</head>
<h1> Hypothetical Meet Creator</h1>
<body>
    <form action="/hypo" method="post" enctype="multipart/form-data">
        <select name="team1">
            <option value="Boston College"> Boston College </option>
            <option value="Clemson">Clemson</option>
            <option value="Duke">Duke</option>
            <option value="Florida State">Florida State</option>
            <option value="Ohio State"> Ohio State </option>
            <option value="Washington">Washington</option>
            <option value="Oregon">Oregon</option>
            <option value="Washington State">Washington State</option>
            <option value="North Carolina"> North Carolina </option>
            <option value="Stanford">Stanford</option>
            <option value="Michigan">Michigan</option>
            <option value="Texas"> Texas </option>
            <option value="UCLA"> UCLA </option>
            <option value="Kentucky">Kentucky</option>
            <option value="Alabama">Alabama</option>
            <option value="Georgia">Georgia</option>
        </select>
        &nbsp;   &nbsp;
        <select name="team2">
            <option value="Boston College"> Boston College </option>
            <option value="Clemson">Clemson</option>
            <option value="Duke">Duke</option>
            <option value="Florida State">Florida State</option>
            <option value="Ohio State"> Ohio State </option>
            <option value="Washington">Washington</option>
            <option value="Oregon">Oregon</option>
            <option value="Washington State">Washington State</option>
            <option value="North Carolina"> North Carolina </option>
            <option value="Stanford">Stanford</option>
            <option value="Michigan">Michigan</option>
            <option value="Texas"> Texas </option>
            <option value="UCLA"> UCLA </option>
            <option value="Kentucky">Kentucky</option>
            <option value="Alabama">Alabama</option>
            <option value="Georgia">Georgia</option>
        </select>
        &nbsp;   &nbsp;
        <select name="team3">
            <option value="Boston College"> Boston College </option>
            <option value="Clemson">Clemson</option>
            <option value="Duke">Duke</option>
            <option value="Florida State">Florida State</option>
            <option value="Ohio State"> Ohio State </option>
            <option value="Washington">Washington</option>
            <option value="Oregon">Oregon</option>
            <option value="Washington State">Washington State</option>
            <option value="North Carolina"> North Carolina </option>
            <option value="Stanford">Stanford</option>
            <option value="Michigan">Michigan</option>
            <option value="Texas"> Texas </option>
            <option value="UCLA"> UCLA </option>
            <option value="Kentucky">Kentucky</option>
            <option value="Alabama">Alabama</option>
            <option value="Georgia">Georgia</option>
        </select>
        &nbsp;   &nbsp;
        <select name="team4">
            <option value="Boston College"> Boston College </option>
            <option value="Clemson">Clemson</option>
            <option value="Duke">Duke</option>
            <option value="Florida State">Florida State</option>
            <option value="Ohio State"> Ohio State </option>
            <option value="Washington">Washington</option>
            <option value="Oregon">Oregon</option>
            <option value="Washington State">Washington State</option>
            <option value="North Carolina"> North Carolina </option>
            <option value="Stanford">Stanford</option>
            <option value="Michigan">Michigan</option>
            <option value="Texas"> Texas </option>
            <option value="UCLA"> UCLA </option>
            <option value="Kentucky">Kentucky</option>
            <option value="Alabama">Alabama</option>
            <option value="Georgia">Georgia</option>
        </select>
        &nbsp;   &nbsp;
        <select name="team5">
            <option value="Boston College"> Boston College </option>
            <option value="Clemson">Clemson</option>
            <option value="Duke">Duke</option>
            <option value="Florida State">Florida State</option>
            <option value="Ohio State"> Ohio State </option>
            <option value="Washington">Washington</option>
            <option value="Oregon">Oregon</option>
            <option value="Washington State">Washington State</option>
            <option value="North Carolina"> North Carolina </option>
            <option value="Stanford">Stanford</option>
            <option value="Michigan">Michigan</option>
            <option value="Texas"> Texas </option>
            <option value="UCLA"> UCLA </option>
            <option value="Kentucky">Kentucky</option>
            <option value="Alabama">Alabama</option>
            <option value="Georgia">Georgia</option>
        </select>
        <br><br>
        <select name="event">
            <option value="8K"> 8K </option>
            <option value="5000">5K</option>
            <option value="Mile">Mile</option>
        </select>
        <select name="gender">
            <option value="M"> M </option>
            <option value="F">F</option>
        </select>
    <input type="submit">
    </form>
</body>
</html>
{% endblock %}